/*style the body*/
body {
    background-color: rgb(10, 245, 179);
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* head design */
h1 {
    color: darkslategrey;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    background-color: rgb(106, 244, 198);
    margin-top: 0px;
    padding: 25px;
    text-decoration: underline;
}